.Plantsandtrees {
    color: green;
    margin: 30px;
    padding-top: 2%;
}
.Plantimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.PeaceLillieimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.plantPar {
    text-align: justify;    
    margin: 30px;
    color: green
}
.peaceLilliePar {
    text-align: justify;
    margin: 30px;
    color: green
}
.Trees {
    text-align: justify;
    margin: 30px;
    color: green;
}
.nav-item a{
    color: rgb(17, 65, 7)!important;
    font-weight: bold;
}

color: green;
    margin: 30px;
    padding-top: 2%;
}
.DaisyImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.WildFlowerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.WildflowerPar {
    text-align: justify;    
    margin: 30px;
    color: green
}
.DaisyPar {
    text-align: justify;
    margin: 30px;
    color: green
}
.DaisyImg {
    text-align: justify;
    margin: 30px;
    color: green;
}
.nav-item a{
    color: rgb(17, 65, 7)!important;
    font-weight: bold;
}





